html {
  scroll-behavior: smooth;
}

body {
    background-color: #0e1117;
    margin: 0;
    padding: 20px;
    position: relative;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1; /* Ensure the SVG is behind other content */
  }
  
  .container {
    text-align: center;
    margin-top: 200px;
  }

  .container1 {
    position: relative; /* Ensure other content appears above the SVG */
  }
  
  .logo {
    position: absolute;
    top: 5px;
    left: 10px;
    height: 70px;
    width: auto;
  }
  
  /* Change the color of the primary button */
  .btn-primary {
    background-color: #AD1990; 
    border-color: #AD1990; 
    color: white;
  }

  /* Change the color of the secondary button */
  .btn-secondary {
    background-color: #008CBA; 
    border-color: #008CBA;     
    color: white; 
  }

  /* Change the color of the dropdown toggle */
  .dropdown-toggle {
    background-color: #AD1990; 
    border-color: #AD1990;
    color: white; 
  }

  /* Change the color of the dropdown items */
  .dropdown-menu .dropdown-item {
    background-color: #AD1990; 
    color: white; 
  }

  /* Change the color of the dropdown items on hover */
  .dropdown-menu .dropdown-item:hover {
    background-color: #008CBA;
    color: white; 
  }

  .btn {
    margin-right: 10px;
    font-size: 24px;
    padding: 10px 20px;
    color: #fafafa;
    border: 2px solid #AD1990;
    border-radius: 10px;
    background-color: #AD1990;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .btn:hover {
    background-color: transparent;
    color: #fafafa;
  }

  h2{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: white;
    white-space: pre-line;
  }

  h3{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: white;
  }


  /* Grid system for reviews */
.reviews-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust as needed */
  gap: 20px; /* Adjust the gap between items */
  margin-top: 50px; /* Adjust margin top as needed */
  text-align: left;
}

.review {
  background-color: #1a1d24;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.ct{
  color: #AD1990;
}

.ft{
  color: white;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}